* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  max-width: 1153px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url("../img/Rectangle\ 1backggroud.png");
  background-size: cover;
  background-position: center;
}
nav {
  padding: 2rem;
}
nav ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}
nav ul a {
  text-decoration: none;
  color: black;
  padding: 1rem;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
.login{
  color:  white;
  padding: 10px 20px;
  background: #f84646;
  border-radius: 5px;
  font-weight: 700;
}
.btn {
  padding: 10px 20px;
  background-color: #f84646;
  color: white;
  border-radius: 8px;
}

header .hero {
  max-width: 665px;
  margin-top: 135px;
}
.hero h1 {
  font-weight: 800;
  font-size: 57px;
  line-height: 82px;
  margin-bottom: 20px;
}
.hero p {
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 50px;
}
.input-group {
  background: white;
  padding: 6px;
  width: 500px;
  display: flex;
  border-radius: 10px;
  padding-left: 32px;
}
.input-group input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
}
.input-group button {
  border-radius: 8px;
  padding: 13px 38px;
  border: none;
  background: #f84646;
  color: #fff;
  cursor: pointer;
}
.container .kalitve{
    max-width: 1153px;
    height: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 49px;
    margin-top: 100px;
}
.kalitve h1{
    font-weight: 800;
    font-size: 36px;
}
.kalitve p{
    font-size: 24px;
    letter-spacing: 0.2px;
}
.test{
  width: 100%;
  height: 376px;
  background: url(../img/image\ 1redbg.png) tomato;
  background-size: cover;
}
.text{
  width: 1088px;
  height: 376px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.text h1{
  margin-top: 45px;
  color: #fff;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
}
.text p{
  color: #fff;
  margin-top: 8px;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}
.nasvay{
  margin-top: 128px;
  width: 100%;
  height: 62px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.container{
  border: solid red;
}
.kalve{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.kalve1{
  width: 50%;
  height: 1080px;
  display: flex;
  flex-direction: column;
  border: solid blue;
}
.kalve2{
  border: solid green;
}
.kalve1 h1{
  font-size: 64px;
  font-weight: 700;
}
.kalve1 p{
  margin-top: 40px;
  line-height: 30px;
  color: #808080;
}
.kalve1 button{
  background: #f84646;
  margin-top: 100px;
  border-radius: 8px;
  width: 160px;
  height: 48px;
  border: none;
  color: #fff;
}
.kalveimg{
  background: url(../img/Illustrationachkili\ brat.jpg);
  width: 504px;
  height: 480px;
  margin-top: 120px;
}